.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2em;
}

.container select {
    padding: 5px;
    border: none;
    background: rgb(187, 187, 187);
    border-radius: 5px;
}