.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: lightgray;
  border-radius: 2px;
  width: 350px;
  height: 450px;
  margin: 0.5em;
}

.imgContainer {
  position: relative;
}

.imgContainer img {
  border-radius: 2px;
  width: 100%;
  height: 300px;
}

.top_left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.container {
  padding: 0.2em 0.8em;
}

.container p {
  word-wrap: break-word;
}

.container section {
  margin: 10px 0;
}

.buttons button {
  padding: 3px;
  margin: 2px;
}

.buttons button:nth-child(1) {
  margin-left: 0;
}