.ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    width: 40%;
    margin: auto;
    padding: 5px;
}
  
.ul li {
    float: left;
}
  
.link_, .ul a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.link_:hover, .ul a:hover {
    background-color: #111;
    cursor: pointer;
}
  
.ul li.right {
    float: right;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.second button {
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    transition: background-color 0.15s ease-in-out;
}

.second button:hover {
    background-color: lightgreen;
}
  
@media screen and (max-width: 600px) {
    .ul li.right, .ul li { 
        float: none; 
    }
}